[Unit]
Description=Poll for tram production deploy updates

[Timer]
OnBootSec=2m
OnUnitActiveSec=2m
RandomizedDelaySec=30s
Unit=tram-pull.service

[Install]
WantedBy=timers.target
